* {
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

html {
    background-image: url(wallpapers/rickandmortycliff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section1 {
    height: 100%;
    width: 100%;
}



.nav-menu1 {
    border: 0;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#backicon {
    width: 30px;
    margin-top: 3px;
    margin-left: 10px;
    color: black;
}

#usericon {
    width: 30px;
    margin-top: 3px;
    margin-right: 10px;
    color: black;
}

.a1-in-menu1, .a2-in-menu1 {
    margin-top: 3px;
    transition: 0.5s ease;
}

.a1-in-menu1:hover {
    margin-top: 0;
}

.a2-in-menu1:hover {
    margin-top: 0;
}

.span-in-div {
    align-self: center;
    font-size: 25px;
}

.nav-menu2 {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
}

.a1-in-nav2, .a2-in-nav2, .a3-in-nav2, .a4-in-nav2, .a5-in-nav2, .a6-in-nav2, .a7-in-nav2 {
    border: solid;
    border-width: 1px;
    border-right: 0;
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
}

.a7-in-nav2 {
    border: solid;
    border-width: 1px;
}

.a1-in-nav2 {
    background-color: rgba(0, 0, 0, 0.5);
}

.div1{
    display: flex;
    justify-content: space-around;
}


.span1-in-div1, .span2-in-div1{
    border: solid;
    border-width: 1px;
    border-top: 0;
    width: 100%;
    text-align: center;
    padding: 0.4%;
    font-size: 200%;
}

.span2-in-div1 {
    border-left: 0;
}

.div-for-table1{
    display: flex;
    justify-content: center;
}

.span-for-time-of-day{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: center;
    font-size: 200%;
}

sup {
    font-size: 65%;
}

.table-barstaff{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    color: snow;
    box-shadow: 0px 0px 50px 2px white;
    
}

.th-in-tr1{
    border: solid;
    border-right: 0;
    border-width: 1px;
    border-top: 0;
    border-bottom: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 45%;
    font-size: 200%;
    width: 10%;
}

.td-in-tr1, .td9-in-tr1{
    border: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-width: 1px;
    text-align: center;
    padding-right: 10%;
    font-size: 100%;
    height: 100%;
}

.td9-in-tr1{
    border-bottom: 0;
}

.div-for-table2{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.table-runners{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    color: snow;
    box-shadow: 0px 0px 20px 1px white;
}

.th-in-tr2{
    border: solid;
    border-right: 0;
    border-width: 1px;
    border-top: 0;
    border-bottom: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 22.5%;
    font-size: 200%;
    width: 10%;
}

.td-in-tr2, .td5-in-tr2{
    border: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-width: 1px;
    text-align: center;
    padding-right: 10%;
    font-size: 100%;
    height: 100%;
}

.td5-in-tr2{
    border-bottom: 0;
}

.a1-for-section-changer {
    text-decoration: none;
    font-size: 105%;
    color: black;
}

.span-for-time-of-day2{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.section2 {
    height: 100%;
    min-height: 100px;
}

.a2-for-section-changer {
    text-decoration: none;
    font-size: 105%;
    color: black;
}

.section3 {
    height: 100vh;
    width: 100%;
}

.span-for-time-of-day3{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: center;
    font-size: 200%;
}

sup {
    font-size: 65%;
}