* {
    scroll-behavior: smooth;
    text-shadow: 0px 0px 6px snow;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(wallpapers/rickandmortycliff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header1 {
    border: 0;
    border-color: rgba(0, 0, 0, 0.1);
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 6px snow;
    text-align: center;
}

.span-in-header1 {
    font-size: 150%;
}

.div1 {
    display: flex;
    justify-content: center;
}

.p1 {
    width: 40%;
}

.main1 {
    display: flex;
    justify-content: center;
}

.div-in-main1 {
    border: solid;
    border-width: 1px;
    text-align: center;
    display: grid;
    padding: 2%;
    padding-top: 0;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px snow;
    min-width: 40%;
}

.span-in-div-in-main1 {
    font-size: 200%;
    color: rgb(0, 0, 0);
    border: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-width: 2px;
}

.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9 .a10 {
    font-size: 200%;
    color: snow;
    margin-top: 2%;
}

#rightpointhand {
    color: black;
    font-size: 65%;
    margin-right: 2%;
}


